h1{

  font-family: cursive;
  color:cadetblue;
  text-align: center;
  text-decoration: dashed;
}


button{
  
    width: 30%;
    padding: 11px;
    margin-top: 20px;
    background-color: #a4a3bc;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
 

}
.to-do-list{
  max-width: 700px;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 12px;
  background: cadetblue;
  font-family: 'Segoe UI', sans-serif;
}
input{
  padding: 9px;
   margin-top: 13px;
   border-radius: 13px;
   border: 2px white none;
  
}
.inputs{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
ol{
   font-family: cursive;
}
